<?xml version='1.0' encoding='UTF-8'?>
<launchConfiguration type="org.eclipse.buildship.core.launch.runconfiguration">
    <listAttribute key="tasks">
        <listEntry value=":hello"/>
    </listAttribute>
    <stringAttribute key="working_dir" value="${workspace_loc:EclipseLaunchConfigs}"/>
    <stringAttribute key="gradle_distribution" value="GRADLE_DISTRIBUTION(WRAPPER)"/>
    <booleanAttribute key="offline_mode" value="true"/>
    <booleanAttribute key="show_console_view" value="false"/>
    <booleanAttribute key="show_execution_view" value="true"/>
    <listAttribute key="arguments">
        <listEntry value="--console=plain"/>
        <listEntry value="-PhelloReply=Hello from Eclipse!"/>
    </listAttribute>
    <listAttribute key="jvm_arguments">
        <listEntry value="-Xmx256M"/>
    </listAttribute>
    <booleanAttribute key="override_workspace_settings" value="true"/>
</launchConfiguration>